<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @listing.user %>
</p>

<p>
  <strong>Tour:</strong>
  <%= @listing.tour %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %>
