<p id="notice"><%= notice %></p>

<p>
  <strong>Tour:</strong>
  <%= @visit.tour %>
</p>

<p>
  <strong>Location:</strong>
  <%= @visit.location %>
</p>

<%= link_to 'Edit', edit_visit_path(@visit) %>
