<p id="notice"><%= notice %></p>

<p>
  <strong>Tour:</strong>
  <%= @start_at.tour %>
</p>

<p>
  <strong>Location:</strong>
  <%= @start_at.location %>
</p>

<%= link_to 'Edit', edit_start_at_path(@start_at) %>
